body{background-color: aliceblue;}
h1{text-align: center; color: brown;}
header{border-bottom-width:  1px; border-bottom-style: solid; border-bottom-color: black;}
a{text-decoration: none;}
h2{text-shadow: 3px 3px 3px skyblue;}
footer{background-color: orange; border-radius: 10px;}
ul{border-width: 1px; border-style: dotted; border-color: black;}
p{font-family: 휴먼편지체; font-size: 1em; text-indent: 1em;}